* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1231px) {
  .container {
    padding: 30px;
  }

  .message {
    font-size: 30px;
  }

  .scores {
    font-size: 25px;
  }

  .choice {
    height: 200px;
    width: 500px;
  }

  .versus {
    font-size: 20px;
  }

  .game-buttons {
    gap: 15px;
  }

  #new-game {
    font-size: 20px;
    padding: 20px 20px;
    width: 80px;
  }
  .player-choice img {
    max-width: 90px;
  }

  .computer-choice img {
    max-width: 90px;
  }
}

@font-face {
  font-family: "RETROTECH";
  src: url("./font/RETROTECH.ttf") format(truetype);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ece6c2;
  color: #6f5643;
  font-family: "RETROTECH";
}

button {
  background-color: #6f5643;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ece6c2;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 50px;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.scores {
  display: flex;
  gap: 50px;
  font-size: 30px;
  margin-bottom: 30px;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 650px;
  gap: 50px;
  margin-bottom: 30px;
}

.player-score,
.computer-score {
  font-size: 35px;
}

.versus {
  font-size: 25px;
}

.game-buttons {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

button:active {
  transform: scale(0.97);
}

#rock,
#paper,
#scissors {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#rock {
  background-image: url("./images/rock.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
}

#paper {
  background-image: url("./images/paper.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
}

#scissors {
  background-image: url("./images/scissors.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
}

#new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ece6c2;
  color: #6f5643;
  height: 30px;
  width: 100px;
  font-size: 24px;
  font-weight: 300;
  border: 2px solid #6f5643;
  border-radius: 7px;
  padding: 25px 25px;
  font-family: "RETROTECH";
}
